{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block titrepage %}
    <div class="title-container">
        <h1>Inscription</h1>
    </div>
{% endblock %}
{% block body %}
    <div class="form-super-container">
        {{ form_errors(registrationForm) }}
        {{ form_start(registrationForm) }}
        <div class="form-container">
            <div class="form-item">
                <label for="{{ registrationForm.pseudo.vars.id }}">Pseudo</label>
                {{ form_widget(registrationForm.pseudo) }}
            </div>
            <div class="form-item">
                <label for="{{ registrationForm.plainPassword.vars.id }}">Mot de Passe</label>
                {{ form_widget(registrationForm.plainPassword) }}
            </div>
            <div class="form-item">
                <label for="{{ registrationForm.lastname.vars.id }}">Nom</label>
                {{ form_widget(registrationForm.lastname) }}
            </div>
            <div class="form-item">
                <label for="{{ registrationForm.firstname.vars.id }}">Prénom</label>
                {{ form_widget(registrationForm.firstname) }}
            </div>
            <div class="form-item">
                <label for="{{ registrationForm.phoneNumber.vars.id }}">Téléphone</label>
                {{ form_widget(registrationForm.phoneNumber) }}
            </div>
            <div class="form-item">
                <label for="{{ registrationForm.email.vars.id }}">Email</label>
                {{ form_widget(registrationForm.email) }}
            </div>
            <div class="form-item">
                <label for="{{ registrationForm.estRattacheA.vars.id }}">Campus</label>
                {{ form_widget(registrationForm.estRattacheA) }}
            </div>
            <div class="form-item">
                <label for="{{ registrationForm.imgName.vars.id }}">Photo (PNG, JPG ou JPEG)</label>
                {{ form_widget(registrationForm.imgName) }}
                {{ form_errors(registrationForm.imgName) }}
            </div>
            <div class="form-item justify-center">
            <a href="{{ path('app_register_csv') }}">Ajouter plusieurs utilisateurs ?</a>
            </div>
            <div class="form-btn">
                <button type="submit" class="btn">Inscrire</button>
            </div>
        </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
