{% extends 'base.html.twig' %}

{% block title %}Profil de {{ participant.pseudo }}{% endblock %}

{% block body %}
    <h1>Profil de {{ participant.pseudo }}</h1>
    <p>Nom : {{ participant.lastname }}</p>
    <p>Prénom : {{ participant.firstname }}</p>
    <p>Email : {{ participant.email }}</p>
{% endblock %}
