{% extends 'base.html.twig' %}

{% block title %}Profil de {{ participant.pseudo }}{% endblock %}

{% block body %}
    <h1>Profil de {{ participant.pseudo }}</h1>
    {% if participant.ImgName %}
        <img src="{{ asset('photos/' ~ participant.ImgName) }}" alt="Photo de profil">
    {% endif %}
    <p>Nom : {{ participant.lastname }}</p>
    <p>Prénom : {{ participant.firstname }}</p>
    <p>Email : {{ participant.email }}</p>
    <a href="{{ path('app_profil_modification') }}">Modifier mon profil</a>
{% endblock %}
