{% extends 'base.html.twig' %}

{% block title %}Profil de {{ participant.pseudo }}{% endblock %}
{% block titrepage %}
    <div class="title-container">
        <h1>Profil de {{ participant.pseudo }}</h1>
    </div>
{% endblock %}
{% block body %}
    <div class="profil-super-container">
        <div class="profil-photo-container">
            {% if participant.ImgName %}
                <img src="{{ asset('photos/' ~ participant.ImgName) }}" alt="Photo de profil">
            {% endif %}
        </div>
        <div class="profil-container">
        <p>Nom : {{ participant.lastname }}</p>
        <p>Prénom : {{ participant.firstname }}</p>
        <p>Email : {{ participant.email }}</p>
        {% if app.user == participant or is_granted("ROLE_ADMIN")%}
        <a href="{{ path('app_profil_modification', {'id':participant.id}) }}">Modifier le profil</a>
        </div>
    </div>
{% endif %}
{% endblock %}
