{% extends 'base.html.twig' %}

{% block title %}Modifier le profil{% endblock %}
{% block titrepage %}
    <div class="title-container">
        <h1>Modifier le profil</h1>
    </div>
{% endblock %}
{% block body %}
    <div class="form-super-container">
        {{ form_errors(modificationProfil) }}
        {% dump(form_errors(modificationProfil)) %}
        {{ form_start(modificationProfil) }}
        {{ form_errors(modificationProfil.imgName) }}
        <div class="form-container">
            <div class="form-item">
                <label for="{{ modificationProfil.pseudo.vars.id }}">Pseudo</label>
                {{ form_widget(modificationProfil.pseudo) }}
            </div>
            <div class="form-item">
                <label for="{{ modificationProfil.lastname.vars.id }}">Nom</label>
                {{ form_widget(modificationProfil.lastname) }}
            </div>
            <div class="form-item">
                <label for="{{ modificationProfil.firstname.vars.id }}">Prénom</label>
                {{ form_widget(modificationProfil.firstname) }}
            </div>
            <div class="form-item">
                <label for="{{ modificationProfil.phoneNumber.vars.id }}">Téléphone</label>
                {{ form_widget(modificationProfil.phoneNumber) }}
            </div>
            <div class="form-item">
                <label for="{{ modificationProfil.email.vars.id }}">Email</label>
                {{ form_widget(modificationProfil.email) }}
            </div>
            <div class="form-item">
                <label for="{{ modificationProfil.estRattacheA.vars.id }}">Campus</label>
                {{ form_widget(modificationProfil.estRattacheA) }}
            </div>
            <div class="form-item">
                <label for="{{ modificationProfil.imgName.vars.id }}">Photo (PNG, JPG ou JPEG)</label>
                {{ form_widget(modificationProfil.imgName) }}
                {{ form_errors(modificationProfil.imgName) }}
            </div>
            <div class="form-item">
                <label for="{{ modificationProfil.active.vars.id }}">Actif</label>
                {{ form_widget(modificationProfil.active) }}
            </div>
            <div class="form-btn">
                <button type="submit" class="btn">Modifier</button>
            </div>
        </div>
        {{ form_end(modificationProfil) }}
    </div>
{% endblock %}