{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block titrepage %}
    <div class="title-container">
        <h1>Liste des participants</h1>
    </div>
{% endblock %}
{% block body %}
    <div class="participant-container">
                {% for participant in participants %}
                    <div class="participant-item">
                    <div class="">
                        <a href="{{ path('app_profil', {'id' :participant.id}) }}">{{ participant.pseudo }}</a>
                        <p>{{ participant.lastname | upper }} {{ participant.firstname }}</p>
                    </div>
                    <div class="participant-modif">
                        <a href="{{ path('app_profil_modification' , {'id' : participant.id} )}}">Modifier</a>
                        <a href="{{ path('app_admin_participant_supprimer', {'id': participant.id}) }}"
                           onclick="return confirm('Êtes-vous sûr de vouloir anéantir ce type ?')">Supprimer</a>
                    </div>
                    </div>
                {% endfor %}
    </div>
{% endblock %}