{% extends 'base.html.twig' %}

{% block body %}

    <h1>Gérer les villes</h1>
    <div>
        {{ form_start(filtre) }}
        {{ form_label(filtre.nom) }}
        {{ form_widget(filtre.nom) }}
        <button>Rechercher</button>
        {{ form_end(filtre) }}
    </div>
    <div>
        <div>Villes</div>
        {{ form_start(ajoutVille) }}
        {{ form_widget(ajoutVille.nom) }}
        {{ form_widget(ajoutVille.codePostal) }}
        <button>Ajouter</button>
        {{ form_end(ajoutVille) }}


    {% for ville in villes %}
        <div>

            {{ ville.nom }}
            {{ ville.codePostal }}
            <a href="{{ path('app_admin_villes_modifier', {'id':ville.id}) }}">Modifier</a> - <a href="">Supprimer</a>
        </div>
    {% endfor %}
    </div>

{% endblock %}

{% block title %}
Villes
{% endblock %}

