{% extends 'base.html.twig' %}
{% block title %}Villes{% endblock %}
{% block titrepage %}
    <div class="title-container">
        <h1>Gestion des Villes</h1>
    </div>
{% endblock %}
{% block body %}

    <h1>Gérer les villes</h1>

    <div>
        {# formulaire de filtre #}
        <form action="{{ path('app_admin_villes') }}" method="get">
            <input type="hidden" name="action" value="filtrer">
            <input type="text" name="filtrer" placeholder="">
            <button type="submit">Rechercher</button>
        </form>
    </div>

    <div>
        <div>Villes</div>
        {{ form_start(ajoutVille) }}
        {{ form_widget(ajoutVille.nom) }}
        {{ form_widget(ajoutVille.codePostal) }}
        <button>Ajouter</button>
        {{ form_end(ajoutVille) }}


    {% for ville in villes %}
        <div>

            {{ ville.nom }}
            {{ ville.codePostal }}
            <a href="{{ path('app_admin_villes_modifier', {'id':ville.id}) }}">Modifier</a> -
            <a href="{{ path('app_admin_villes_supprimer', {'id':ville.id}) }}">Supprimer</a>
        </div>
    {% endfor %}
    </div>

{% endblock %}

{% block title %}
Villes
{% endblock %}

