{% extends 'base.html.twig' %}

{% block title %}Annuler la sortie {{ sortie.nom }}{% endblock %}
{% block titrepage %}
    <div class="title-container">
        <h1>{{ sortie.nom }}</h1>
    </div>
{% endblock %}
{% block body %}



    <p>Campus: {{ sortie.campus.nom }}</p>
    <p>Lieu: {{ sortie.lieu.nom }}</p>
    <p>Rue: {{ sortie.lieu.rue }}</p>
    <p>Ville: {{ sortie.lieu.ville.nom }}</p>
    <p>Code Postal: {{ sortie.lieu.ville.codePostal }}</p>
    {{ form_start(form) }}
    <div>
    {{ form_label(form.motifAnnulation) }}
    {{ form_widget(form.motifAnnulation) }}
    </div>
    <button>Annuler la sortie</button>
    {{ form_end(form) }}


    <a href="{{ path('sortie_list') }}" title="retour">Retour</a>
{% endblock %}