{% extends 'base.html.twig' %}

{% block title %}Nouvelle sortie{% endblock %}
{% block titrepage %}
    <div class="title-container">
        <h1>Nouvelle sortie </h1>
    </div>
{% endblock %}
{% block body %}
        <div class="form-super-container">
            {{ form_errors(form) }}
            {{ form_start(form) }}
            <div class="form-container">
                <div class="form-item">
                    <h2>Création d'une sortie</h2>
                </div>
                <div class="form-item">
                    <label for="{{ form.nom.vars.id }}">Nom</label>
                    {{ form_widget(form.nom) }}
                </div>
                <div class="form-item">
                    <label for="{{ form.dateHeureDebut.vars.id }}">Date début</label>
                    {{ form_widget(form.dateHeureDebut) }}
                </div>
                <div class="form-item">
                    <label for="{{ form.duree.vars.id }}">Durée (en minutes)</label>
                    {{ form_widget(form.duree) }}
                </div>
                <div class="form-item">
                    <label for="{{ form.dateLimiteInscription.vars.id }}">Fin des inscriptions</label>
                    {{ form_widget(form.dateLimiteInscription) }}
                </div>
                <div class="form-item">
                    <label for="{{ form.nbInscriptionMax.vars.id }}">Nbr de participants max</label>
                    {{ form_widget(form.nbInscriptionMax) }}
                </div>
                <div class="form-item">
                    <label for="{{ form.infosSortie.vars.id }}">Description</label>
                    {{ form_widget(form.infosSortie) }}
                </div>
                <div class="form-item">
                    <label for="{{ form.campus.vars.id }}">Campus</label>
                    {{ form_widget(form.campus) }}
                </div>
                <div class="form-item">
                    <label for="{{ form.etat.vars.id }}">Etat</label>
                    {{ form_widget(form.etat) }}
                </div>
                <div class="form-item">
                    <label for="{{ form.Lieu.vars.id }}">Lieu</label>
                    {{ form_widget(form.Lieu) }}
                </div>
                <div class="form-item">
                    <p class="precision">Si le lieu n'est pas dans la liste vous pouvez le créer :</p>
                </div>
                <div class="form-link">
                    <a href="{{ path("sortie_lieu") }}" title="lieu">Créer un lieu</a>
                </div>
                <div class="form-btn">
                    <button type="submit" class="btn">Ajouter !</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
{% endblock %}
