{% extends 'base.html.twig' %}

{% block title %}{{ sortie.nom }}{% endblock %}
{% block titrepage %}
    <div class="title-container">
        <h1>{{ sortie.nom }}</h1>
    </div>
{% endblock %}
{% block body %}
    <h1>{{ sortie.nom }}</h1>
    <div>
        <p>Lieu: {{ sortie.lieu.nom }}</p>
        <p>Durée: {{ sortie.duree }}</p>
        {% if (sortie.dateLimiteInscription > today) %}
        <p>Date limite d'inscription: {{ sortie.dateLimiteInscription | date }}</p>
        {% else %}
        <p>Inscriptions cloturées</p>
        {% endif %}
        <p>Concernant la sortie: {{ sortie.infosSortie }}</p>
    </div>
    <div>
        <h2>Liste des participants</h2>
        <ul>
        {% for participant in sortie.participants %}
           <li>{{ participant.lastname | upper }} {{ participant.firstname }}</li>
        {% endfor %}
        </ul>
        <div>
        <p>Nombre de participants: {{ sortie.participants | length }}</p>
        {% set userIsParticipant = false %}
        {% for participant in sortie.participants %}
            {% if app.user == participant %}
                {% set userIsParticipant = true %}
            {% endif %}
            <a href="{{ path('app_profil', {'id' :participant.id}) }}">{{ participant.firstname }} {{ participant.lastname }}</a>
        {% endfor %}
        </div>
        {% if userIsParticipant %}
            <a href="{{ path('sortie_desister', {'id' : sortie.id}) }}">Se désister</a>
        {% else %}
            <a href="{{ path('sortie_inscription', {'id': sortie.id}) }}" title="Inscription">S'inscrire</a>
        {% endif %}

    </div>
{% endblock %}