{% block body %}
    <div class="participant-container">
        {% for sortie in sorties %}
            <div class="participant-item">
                <h2><a id="titre-sortie" href="{{ path('sortie_details', {'id':sortie.id}) }}" title="details">{{ sortie.nom }}</a></h2>
                {% if sortie.etat.libelle == 'annulée' %}
                    <div class="etat_annulee">
                        <p>Sortie {{ sortie.etat.libelle | lower }}</p>
                        <p>motif: {{ sortie.motifAnnulation }}</p>
                    </div>
                {% else %}
                    <div >
                        <p>Sortie {{ sortie.etat.libelle | lower }}</p>
                    </div>
                {% endif %}
                <p>Lieu: {{ sortie.lieu.nom }}</p>
                <p>Date de la sortie : {{ sortie.dateHeureDebut | format_datetime('full', 'short', locale='fr') }}</p>
                <p>Nombre d'inscrits : {{ sortie.participants | length }}/{{ sortie.nbInscriptionMax }}</p>
                <p>Clôture des inscriptions : {{ sortie.dateLimiteInscription | format_datetime('full', 'short', locale='fr') }}</p>
                {% if is_granted("ROLE_ADMIN") or app.user == sortie.organisateur %}
                    <div class="participant-modif">
                        <a href="{{ path('sortie_details', {'id':sortie.id}) }}" title="delete">Détails</a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

