{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}
{% block titrepage %}
    <div class="title-container">
        <h1>Liste des sorties</h1>
    </div>
{% endblock %}
{% block body %}
    <h1>Liste des sorties</h1>
    <div>
        {# formulaire de recherche #}
        {{ form_start(form) }}
        {{ form_widget(form) }}


        <button type="submit">Rechercher</button>
        {{ form_end(form) }}
    </div>
<div>
    {% for sortie in sorties %}
    <div class="container">
        <a href="{{ path('sortie_details', {'id':sortie.id}) }}" title="details">{{ sortie.nom }} à {{ sortie.lieu.nom }}</a>
        {% if is_granted("ROLE_ADMIN") or app.user == sortie.organisateur %}
        <a href="{{ path('sortie_modifier', {'id':sortie.id}) }}" title="modifier">Modifier</a>
        <a href="{{ path('sortie_annuler', {'id':sortie.id}) }}" title="annuler">Annuler la sortie</a>
        <a href="{{ path('sortie_delete', {'id':sortie.id}) }}" title="delete">Supprimer la sortie</a>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}