{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}
    <h1>Liste des sorties</h1>
<div>
    {% for sortie in sorties %}
    <div>
        <a href="{{ path('sortie_details', {'id':sortie.id}) }}" title="details">{{ sortie.nom }} à {{ sortie.lieu.nom }}</a>
        <a href="{{ path('sortie_modifier', {'id':sortie.id}) }}" title="modifier">Modifier</a>
        <a href="{{ path('sortie_annuler', {'id':sortie.id}) }}" title="annuler">Annuler la sortie</a>
        <a href="{{ path('sortie_delete', {'id':sortie.id}) }}" title="delete">Supprimer la sortie</a>
    </div>
    {% endfor %}
</div>
{% endblock %}