{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}
{% block titrepage %}
    <div class="title-container">
        <h1>Liste des sorties</h1>
    </div>
    <div class="high-right">
        <p>Date du jour: {{ today | date('d-m-Y') }}</p>
        <p>Participant: {{ app.user.pseudo }}</p>
    </div>
{% endblock %}
{% block body %}
    <div class="sortie-form-super-container">
        {# formulaire de recherche #}
        {{ form_errors(form) }}
        {{ form_start(form) }}
        <div class="sortie-form-container">
            <div class="filtre-bloc1">
                <div class="filtre-bloc1A">
                    <div class="bloc1A-item">
                        {{ form_label(form.campus) }}
                        {{ form_widget(form.campus) }}
                    </div>
                    <div class="bloc1A-item">
                        {{ form_label(form.q) }}
                        {{ form_widget(form.q) }}
                    </div>
                </div>
                <div class="filtre-bloc1B">
                    <div class="bloc1B-item">
                        {{ form_label(form.min) }}
                        {{ form_widget(form.min) }}
                    </div>
                    <div class="bloc1B-item">
                        {{ form_label(form.max) }}
                        {{ form_widget(form.max) }}
                    </div>
                </div>
            </div>
            <div class="filtre-bloc2">
                <div class="bloc2-item">
                    {{ form_label(form.organisateur) }}
                    {{ form_widget(form.organisateur) }}
                </div>
                <div class="bloc2-item">
                    {{ form_label(form.inscrit) }}
                    {{ form_widget(form.inscrit) }}
                </div>
                <div class="bloc2-item">
                    {{ form_label(form.nonInscrit) }}
                    {{ form_widget(form.nonInscrit) }}
                </div>
                <div class="bloc2-item">
                    {{ form_label(form.passe) }}
                    {{ form_widget(form.passe) }}
                </div>
            </div>
            <div class="filtre-bloc3">
                <button type="submit" class="btn">Rechercher</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    <div class="participant-container">
        {% for sortie in sorties %}
        <div class="participant-item">
            <h2><a id="titre-sortie" href="{{ path('sortie_details', {'id':sortie.id}) }}" title="details">{{ sortie.nom }}</a></h2>
            <p>Lieu: {{ sortie.lieu.nom }}</p>
            <p>Date de la sortie: {{ sortie.dateHeureDebut | date }}</p>
            <p>Nombre d'inscrits: {{ sortie.participants | length }}/{{ sortie.nbInscriptionMax }}</p>
            <p>Clôture des inscriptions: {{ sortie.dateLimiteInscription | date }}</p>
            {% if is_granted("ROLE_ADMIN") or app.user == sortie.organisateur %}
            <div class="participant-modif">
                <a href="{{ path('sortie_details', {'id':sortie.id}) }}" title="delete">Détail</a>
                <a href="{{ path('sortie_modifier', {'id':sortie.id}) }}" title="modifier">Modifier</a>
            </div>
            <div class="participant-modif">
                <a href="{{ path('sortie_annuler', {'id':sortie.id}) }}" title="annuler">Annuler</a>
                <a href="{{ path('sortie_delete', {'id':sortie.id}) }}" title="delete"
                   onclick="return confirm('Êtes-vous sûr de vouloir bousiller cette activitée ?')">Supprimer</a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>

{% endblock %}