{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}
{% block titrepage %}
    <div class="title-container">
        <h1>Liste des sorties</h1>
    </div>
    <div class="high-right">
        <div class="high-right-item">
            <p>Date du jour : {{ today | date('d-m-Y') }}</p>
        </div>
    </div>
{% endblock %}
{% block body %}
<div id="foo">
    <div class="sortie-form-super-container">
        {# formulaire de recherche #}
        {{ form_errors(form) }}
        {{ form_start(form) }}
        <div class="sortie-form-container">
            <div class="filtre-bloc1">
                <div class="filtre-bloc1A">
                    <div class="bloc1A-item">
                        {{ form_label(form.campus) }}
                        {{ form_widget(form.campus) }}
                    </div>
                    <div class="bloc1A-item">
                        {{ form_label(form.q) }}
                        {{ form_widget(form.q) }}
                    </div>
                </div>
                <div class="filtre-bloc1B">
                    <div class="bloc1B-item">
                        {{ form_label(form.min) }}
                        {{ form_widget(form.min) }}
                    </div>
                    <div class="bloc1B-item">
                        {{ form_label(form.max) }}
                        {{ form_widget(form.max) }}
                    </div>
                </div>
            </div>
            <div class="filtre-bloc2">
                <div class="bloc2-item">
                    {{ form_label(form.organisateur) }}
                    {{ form_widget(form.organisateur) }}
                </div>
                <div class="bloc2-item">
                    {{ form_label(form.inscrit) }}
                    {{ form_widget(form.inscrit) }}
                </div>
                <div class="bloc2-item">
                    {{ form_label(form.nonInscrit) }}
                    {{ form_widget(form.nonInscrit) }}
                </div>
                <div class="bloc2-item">
                    {{ form_label(form.passe) }}
                    {{ form_widget(form.passe) }}
                </div>
            </div>
            <div class="filtre-bloc3">
                <button type="submit" class="btn">Rechercher</button>
                <a href={{ path('sortie_list') }}> <button type="button" class="btn">Réinitialiser</button></a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    <div class="participant-container">
        {% for sortie in sorties %}
            <div class="participant-item">
                <h2><a id="titre-sortie" href="{{ path('sortie_details', {'id':sortie.id}) }}" title="details">{{ sortie.nom }}</a></h2>
                {% if sortie.etat.libelle == 'annulée' %}
                    <div class="etat_annulee">
                        <p>Sortie {{ sortie.etat.libelle | lower }}</p>
                        <p>Motif: {{ sortie.motifAnnulation }}</p>
                    </div>
                {% else %}
                    <div >
                        <p>Sortie {{ sortie.etat.libelle | lower }}</p>
                    </div>
                {% endif %}
                <p>Lieu: {{ sortie.lieu.nom }}</p>
                <p>Date de la sortie : {{ sortie.dateHeureDebut | format_datetime('full', 'short', locale='fr') | capitalize}}</p>
                <p>Nombre d'inscrits : {{ sortie.participants | length }}/{{ sortie.nbInscriptionMax }}</p>
                <p>Clôture des inscriptions : {{ sortie.dateLimiteInscription | format_datetime('full', 'short', locale='fr') }}</p>
                {% if is_granted("ROLE_ADMIN") or app.user == sortie.organisateur %}
                    <div class="participant-modif">
                        <a href="{{ path('sortie_details', {'id':sortie.id}) }}" title="delete">Détails</a>
                        <a href="{{ path('sortie_modifier', {'id':sortie.id}) }}" title="modifier">Modifier</a>
                    </div>
                    <div class="participant-modif">
                        <a href="{{ path('sortie_annuler', {'id':sortie.id}) }}" title="annuler">Annuler</a>
                        <a href="{{ path('sortie_delete', {'id':sortie.id}) }}" title="delete"
                           onclick="return confirm('Êtes-vous sûr de vouloir bousiller cette activité ?')">Supprimer</a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }} {# Cette ligne permet d'inclure les scripts JavaScript déjà présents dans le fichier de base #}

    <script src="{{ asset('script/redirect.js') }}"></script>
    <script>
        window.addEventListener('load', (e) => {
            console.log(148);
            // define current = screen
            mobile_screen = detectScreenSize();
            current = mobile_screen;

            console.log(current);
            console.log(mobile_screen);

            // First time we load we need to execute correct function
            if (mobile_screen) {
                changeContent('mobile');
            } else {
                // fonction qui fait ajax avec code si on est pas en mobile
                changeContent('default');
            }

            // Then do the same everytime we resize
            window.addEventListener('resize', function (e) {
                mobile_screen = detectScreenSize();

                // If current !== screen => We need to change the display type
                // Else it means we're already in the good case, do nothing
                if (current !== mobile_screen) {
                    current = mobile_screen;
                    console.log('1');
                    if (mobile_screen) {
                        changeContent('mobile');
                    } else {
                        // fonction qui fait ajax avec code si on est pas en mobile
                        changeContent('default');
                    }
                } else {
                    console.log('2');
                }
            });
        })
    </script>
{% endblock %}
