{% extends 'base.html.twig' %}

{% block title %}Modifier la sortie {{ sortie.nom }}{% endblock %}
{% block titrepage %}
    <div class="title-container">
        <h1>Modifier : {{ sortie.nom }}</h1>
    </div>
{% endblock %}
{% block body %}
<div class="form-groupe-container">
    {{ form_start(form) }}
    <div class="sortie-modification-item">
    {{ form_label(form.dateHeureDebut) }}
    {{ form_widget(form.dateHeureDebut) }}
    </div>
    <br>
    <div class="sortie-modification-item">
    {{ form_label(form.duree) }}
    {{ form_widget(form.duree) }}
    </div>
    <br>
    <div class="sortie-modification-item">
    {{ form_label(form.dateLimiteInscription) }}
    {{ form_widget(form.dateLimiteInscription) }}
    </div>
    <br>
    <div class="sortie-modification-item">
    {{ form_label(form.nbInscriptionMax) }}
    {{ form_widget(form.nbInscriptionMax) }}
    </div>
    <br>
    <div class="sortie-modification-item">
        {{ form_label(form.infosSortie) }}
        {{ form_widget(form.infosSortie) }}
    </div>
    <br>
    <div class="sortie-modification-item">
    {{ form_label(form.etat) }}
    {{ form_widget(form.etat) }}
    </div>
    <br>
    <div class="sortie-modification-item">
    {{ form_label(form.campus) }}
    {{ form_widget(form.campus) }}
    </div>
    <br>
    <div class="sortie-modification-item">
    {{ form_label(form.Lieu) }}
    {{ form_widget(form.Lieu) }}
    </div class="sortie-modification-item">
    <br>
    <p class="sortie-modification-item">Rue: {{ sortie.lieu.rue }}</p>
    <br>
    <p class="sortie-modification-item">Code Postal: {{ sortie.lieu.ville.codePostal }}</p>
    <br>
    <button class="btn"> Modifier</button>
    {{ form_end(form) }}
    </div>
{% endblock %}
