{% extends 'base.html.twig' %}

{% block titrepage %}

{% endblock %}

{% block body %}
<div>
    <div class="form-groupe-container">
            {{ form_start(form) }}
        <div class="form-groupe-item">
            {{ form_row(form.nom) }}
        </div>
        <div class="form-groupe-item">
            {{ form_label(form.participant) }}
        </div>
        <div class="form-groupe-item">
            {% for participant in form.participant %}
                <div class="form-groupe-list">
                    {{ form_row(participant) }}
                </div>
            {% endfor %}
        </div>
        <div class="form-groupe-item">
            <button type="submit" class="btn">Ajouter !</button>
        </div>
        <div class="form-groupe-item">
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

