{% extends 'base.html.twig' %}

{% block titrepage %}

{% endblock %}

{% block body %}
<div class="form-super-container">
    <div class="form-container">
            {{ form_start(form) }}
        <div class="form-item">
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom) }}
        </div>
        <br>
        <div class="form-item">
            {{ form_label(form.participant) }}
        </div>
        <br>
        <div class="form-groupe-item">
            {% for participant in form.participant %}
                <div class="form-groupe-list">
                    {{ form_widget(participant) }}
                    {{ form_label(participant) }}
                </div>
            {% endfor %}
        </div>
        <br>
        <div class="form-item">
            <button type="submit" class="btn">Ajouter !</button>
        </div>
            {{ form_end(form) }}
    </div>
</div>
{% endblock %}

