<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ENI SORTIR{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <header>
        <div class="header-container">
            <div>
            <a href="{{ path('app_main') }}" title="Page d'acceuil"><img class="logo" src="{{ asset('img/enisortir1.jpg') }}" alt="Logo"></a>
            </div>
            <nav>
                <a href="{{ path('app_profil', {'id': app.user.id}) }}">Mon Profil</a>
                <a href="{{ path("sortie_create") }}" title="Ajouter une sortie">Ajouter une sortie</a>
                <a href="{{ path("sortie_list") }}" title="Sorties">Toutes les sorties</a>
                <a href="{{ path("app_admin_villes") }}" title="villes">Villes</a>
                <a href="{{ path("app_logout") }}" title="logout">Logout</a>

            </nav>
        </div>
    </header>
        {% block titrepage %}{% endblock %}
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        <p>C'est le pied de page, sachez le.</p>
    </footer>
    </body>
</html>
